<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>snowwolf</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="./plugins/layui/css/layui.css" media="all">
    <script src="./js/jquery-3.0.0.js"></script>
</head>

<body>
<div class="demoTable">
    搜索ID：
    <div class="layui-inline">
        <input class="layui-input" name="projectId" id="projectId" autocomplete="off">
        <input class="layui-input" name="name" id="name" autocomplete="off">
        <input class="layui-input" name="url" id="url" autocomplete="off">
    </div>
    <button class="layui-btn" data-type="reload">搜索</button>
</div>

<table class="layui-hide" id="LAY_table_user" lay-filter="user"></table>


<script src="./plugins/layui/layui.js"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use('table', function(){
        var table = layui.table;
        var port = window.location.port;
        var url = "";
        var $ = layui.$, active = {
            reload: function(){
                var projectId = $('#projectId');
                var name = $('#name');
                var urlVal = $('#urlVal');
                //执行重载
                table.reload('testReload', {
                    where: {
                        projectId: projectId.val(),
                        name: name.val(),
                        url: urlVal.val()
                    }
                });
            }
        };
        $('.demoTable .layui-btn').on('click', function(){
            console.info("00");
            url = "http://localhost:"+port+"/tool/mock/find?";
            table.render({
                elem: '#LAY_table_user'
                ,url: url
                ,cols: [[
                    {checkbox: true, fixed: true}
                    ,{field:'id', title: 'ID',  sort: true, fixed: true}
                    ,{field:'name', title: '名称', }
                    ,{field:'requestUrl', title: 'url'}
                ]]
                ,id: 'testReload'
                ,page: false
                ,height: 315
            });
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>

</body>

</html>